<!doctype html>
<!--absoulte value for post to php-->
<html lang="en" ng-app="WolframMain">
<head>
<meta charset="UTF-8">
    
<title>Wolfram</title>
    
    
    <link rel="stylesheet" href="library/css/bootstrap.min.css">
    <link type="text/css" rel="stylesheet" href="stylesheets/style.css">
    
    <script src="library/jquery-1.11.3.min.js" type="text/javascript"></script>
    <script src="library/angular.js" type="text/javascript"></script>
    <script src="library/angular-ui-route.js" type="text/javascript"></script>
    
    <script src="javascript/app.js" type="text/javascript"></script>
    <script src="javascript/main.js" type="text/javascript"></script>
  
</head>

<body>
TEST

    
<main ui-view></main>
</body>
</html>